<div class="container justify-space-between-md w-100  display-flex">

<div class="login-card" >
    <h2 class="page-title">Edit Post</h2>
    <form class="form editpost-form">
      <div class="form-group">
        <label for="editpost-title">Title:</label>
        <input class="form-input" type="text" id="editpost-title" />
      </div>
      <div class="form-group">
        <label for="editpost-content">Content:</label>
        <input class="form-input" type="text" id="editpost-content"  />
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary"  id="update-post" type="submit">Update Post</button>
         <button class="btn btn-primary"  id="delete-post" type="submit">Delete</button>
      </div>
    </form>
    
  </div>

  </div>
 <script src="/js/edit-post.js"></script>